@import "media-queries";

.product {
    width: 100%;
    max-width: 414px;
    margin: auto;
    display: block;
    margin-bottom: 40px;

    &-flex {
        display: none;

        @media (min-width: $sm) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    &-slider {
        display: block;

        @media (min-width: $sm) {
            display: none;
        }
    }

    .itemProduct {
        padding-left: 20px;
        padding-right: 20px;
    }

    &-image {
        border-radius: 20px;
        overflow: hidden;
    }

    &-title {
        padding-bottom: 30px;

        h1 {
            font-size: 9.25vw;
            padding: 30px 0 20px 0;

            @media (min-width: $sm) {
                font-size: 45px;
                padding: 55px 0;
            }
        }

        h6 {
            font-size: 4vw;
            color: var(--purpleHaze);

            @media (min-width: $sm) {
                font-size: 25px;
            }
        }

        @media (min-width: $sm) {
            padding-bottom: 50px;
        }
    }

    &-price {
        font-size: 7.25vw;

        @media (min-width: $sm) {
            font-size: 30px;
        }
    }

    .container-flex {
        margin-bottom: 20px;

        @media (min-width: $sm) {
            margin-bottom: 46px;
        }
    }

    &-buttons {
        display: flex;
        align-items: center;
        text-align: center;

        &.add,
        &.remove {
            width: 30px;
            height: 30px;
            border-radius: 10px;
            font-size: 20px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--sohoLights);
            border: none;

            @media (min-width: $sm) {
                width: 50px;
                height: 50px;
                font-size: 45px;
                border-radius: 20px;
            }
        }
        .disabled {
            color: var(--ice);
            position: relative;
            background: rgba(240, 80, 240, 0.8);
            
        }
        &-result {
            font-weight: bolder;
            position: relative;
            font-size: 9vw;
            padding-left: 20px;
            padding-right: 20px;

            span {
                font-weight: 100;
                display: block;
                position: absolute;
                top: -25px;
                left: 50%;
                font-size: 12px;
                transform: translateX(-50%);
            }

            @media (min-width: $sm) {
                font-size: 45px;
            }
        }
    }

    &-add-basket {
        width: 100%;
        background: var(--sohoLights);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
        border-radius: 14px;
        margin-bottom: 25px;
        background: var(--sohoLights);
        border: none;
        font-size: 20px;

        @media (min-width: $sm) {
            height: 120px;
            font-size: 30px;
            border-radius: 20px;
            margin-bottom: 40px;
        }

    }

    &-container {
        padding: 30px 20px;

        &.background {
            background: var(--background);

            &.notabene {
                color: var(--purpleHaze);
                font-size: 14px;
            }
        }

        @media (min-width: $sm) {
            padding: 50px 40px;
        }
    }
}
